<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>url</key>
		<string>http://www.picstroom.com/RSS/christo.xml</string>
	</dict>
	<key>2</key>
	<dict>
		<key>url</key>
		<string>http://www.picstroom.com/RSS/balloon.xml</string>
	</dict>
	<key>3</key>
	<dict>
		<key>url</key>
		<string>http://www.picstroom.com/RSS/nepal.xml</string>
	</dict>
	<key>4</key>
	<dict>
		<key>url</key>
		<string>http://www.picstroom.com/RSS/kenia.xml</string>
	</dict>
</dict>
</plist>
